{% extends "base.html" %}

{% block title %}Joke Result | Random Joke Website{% endblock %}

{% block content %}

{% if error %}
  <!-- Using Bootstrap alert for error messages -->
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
{% else %}
<!-- If no error, we show the joke -->

<!-- Showing joke in card format -->
<div class="card my-4">
  <div class="card-header">
    <span class="h3">Joke</span>
  </div>
  <div class="card-body">
    {% if joke_type == 'single' %}
      <p class="card-text">{{ joke_text }}</p>
    {% elif joke_type == 'twopart' %}
      <p><strong>Setup:</strong> {{ joke_setup }}</p>
      <p><strong>Delivery:</strong> {{ joke_delivery }}</p>
    {% else %}
    <p>No joke found.</p>
    {% endif %}


<!--Second option: showing joke in text format-->
<!--<h2>Your Joke</h2>-->
<!--  {% if joke_type == 'single' %}-->
<!--    <p>{{ joke_text }}</p>-->
<!--  {% elif joke_type == 'twopart' %}-->
<!--    <p><strong>Setup:</strong> {{ joke_setup }}</p>-->
<!--    <p><strong>Delivery:</strong> {{ joke_delivery }}</p>-->
<!--  {% else %}-->
<!--    <p>No joke found.</p>-->
<!--  {% endif %}-->

  </div>
</div>
{% endif %}

<hr>
<h5>Selected Parameters (for debugging)</h5>
<ul>
  <li><strong>Category Choice:</strong> {{ category_choice.capitalize() }}</li>
  {% if category_choice == 'custom' %}
  <li><strong>Custom Categories:</strong> {{ custom_categories | join(', ') }}</li>
  {% endif %}
  <li><strong>Language:</strong>
    {% if language == 'cs' %} Czech
    {% elif language == 'de' %} German
    {% elif language == 'en' %} English
    {% elif language == 'es' %} Spanish
    {% elif language == 'fr' %} French
    {% elif language == 'pt' %} Portuguese
    {% else %} Unknown
    {% endif %}
  </li>
  <li><strong>Blacklist:</strong>
    {% if blacklist %}
      {{ blacklist | join(', ') }}
    {% else %}
      None
    {% endif %}
  </li>
</ul>



<p><a href="{{ url_for('home') }}" class="btn btn-link">Go Back</a></p>
{% endblock %}
